body {
  margin: 0;
  padding: 0;
  height: 100%;
  bottom: 100%;
  background-color: #e9edc9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80);
  background-size: cover;
}

h4 {
  margin-top: -5em;
  height: 5em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* border: 2px solid black; */
  border-radius: 0.5em;
  height: 25em;
  width: 25em;
  background-image: url(https://img.freepik.com/free-photo/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products-plain-studio-background_1258-54456.jpg?w=1060&t=st=1675489436~exp=1675490036~hmac=8322acd4096b71b0d750a6bd051df0a54780fcc75b3743d8f9f55b658030329a);
  background-size: cover;
}
.inner-container{
  align-items: center;
  text-align: center;
  margin-top: 3em;
  /* display: flex; */
}

.credentials_text{
  text-align: left;
  margin-left: 7.5%;
}

/* .inner-inner-container{
  align-items: right;

} */

/* .username {
  margin-bottom: 1px;
}
.password {
  margin-bottom: 1px;
} */

.submit {
  display: flex;
  justify-content: center;
}

.username {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#password {
  border-radius: 7px;
  border: none;
}

#username {
  border-radius: 7px;
  border: none;
}

#password:hover {
  border-radius: 7px;
  border: 0.5px black solid;
}

#username:hover {
  border-radius: 7px;
  border: 0.5px black solid;
}

.password {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.submit {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

button {
  border: none;
}


img{
  /* outline: 1px solid red; */
  width: 350px;
  height: 350px;
  margin-top: -2em;
}

a {
text-decoration: none;
}

